<header class="shadow-md bg-amber-300 w-full">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto px-6 py-3">
    <!-- Logo -->
    <a routerLink="/" class="flex items-center">
      <img src="/images/VroomKart-logo-transparent.png" alt="App Logo" class="h-32 w-auto" />
    </a>
    <!-- Navigation -->
    <nav class="flex gap-4 uppercase text-sm font-medium">
      <a routerLink="/" routerLinkActive="font-bold text-blue-600" class="transition-colors"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="font-bold text-blue-600" class="transition-colors"
        >Shop</a
      >
      <a routerLink="/contact" routerLinkActive="font-bold text-blue-600" class="transition-colors"
        >Contact</a
      >
    </nav>
    <!-- Actions -->
    <div class="flex items-center gap-4">
      <a
        routerLink="/cart"
        matBadge="5"
        matBadgeSize="large"
        matBadgeColor="accent"
        class="custom-badge flex items-center"
      >
        <mat-icon class="text-3xl">shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button color="primary" routerLink="/login" class="ml-2">Login</button>
      <button mat-flat-button color="primary" routerLink="/signup" class="ml-2">Sign Up</button>
    </div>
  </div>
</header>
