<header class="fixed top-0 left-0 w-full bg-amber-400 shadow-md z-50">
  <div class="flex items-center justify-between max-w-7xl mx-auto px-6 py-3">
    <!-- Logo -->
    <a routerLink="/" class="flex items-center gap-2">
      <img
        routerLink="/"
        src="/images/VroomKart-logo-transparent.png"
        alt="VroomKart Logo"
        class="h-12 w-auto"
      />
    </a>

    <!-- Navigation -->
    <nav class="hidden md:flex items-center gap-8 text-lg font-semibold uppercase text-gray-800">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-white transition-colors duration-200"
        >Home</a
      >
      <a
        routerLink="/shop"
        routerLinkActive="active"
        class="hover:text-white transition-colors duration-200"
        >Shop</a
      >
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>

    <!-- Right Section -->
    <div class="flex items-center gap-4">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        class="relative flex items-center justify-center"
      >
        <mat-icon class="text-3xl text-gray-800 hover:text-white transition-colors duration-200">
          shopping_cart
        </mat-icon>
        <span
          matBadge="3"
          matBadgeColor="warn"
          matBadgeSize="small"
          class="absolute -top-1 -right-2"
        ></span>
      </a>

      <button
        mat-stroked-button
        color="primary"
        routerLink="/login"
        class="hover:bg-white hover:text-amber-500 transition"
      >
        Login
      </button>
      <button
        mat-flat-button
        color="primary"
        routerLink="/signup"
        class="hover:bg-white hover:text-amber-500 transition"
      >
        Sign Up
      </button>
    </div>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar class="fixed top-20 z-50" mode="indeterminate"></mat-progress-bar>
}
